.container{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    padding: 10px;
    flex-direction: column;
    width: auto;
 
}

.todo-container{
    background-color: #B9B4C7;
    padding: 20px 5px;
    border-radius: 10px;
    width: 40%;
    margin: 10px auto;
}