.container {
    display: flex;
    border-radius: 10px;
    background-color: #F8F0E5;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}


.icon {
    padding: 5px;
    border-radius: 5px;
    margin-inline: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

.to-right {
    display: flex;
    flex-direction: space-between;

}

.mat_icon {

}   

.title{
    text-decoration: line-through;
}