
    <div class="container" [formGroup]="allTodos" *ngFor="let todoGroup of todoss.controls; let i = index ">
        <mat-checkbox #checkbox [checked]="todoGroup.value.completed" (click)="onClick(i)">
            <div>
                <p style="margin: 0;" [class.title]="todoGroup.value.completed">{{todoGroup.value.title}}</p>
            </div>
            
        </mat-checkbox>
        <div class="to-right">
            <button class="icon" mat-raised-button (click)="onDelete(i)">
                <div>
                    <mat-icon class="mat_icon">delete_outline</mat-icon>
                </div>
            </button>
            <button class="icon" mat-raised-button  (click)="onEdit(i)">
                <div>       
                    <mat-icon class="mat_icon">edit</mat-icon>
                </div>
                
            </button>
    
        </div>
    </div>
    




<!-- <div [formGroup]="allTodos">
    <div *ngFor="let todoGroup of todoss.controls; let i = index" >

        {{ todoGroup.value.title }} - {{ todoGroup.value.completed }} - {{todoGroup.value.id}}
    </div>
</div> -->
